name: CI-Ubuntu

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Download and Install Ngrok
        run: |
          curl -s https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz | sudo tar -xzf - -C /usr/local/bin

      - name: Add Ngrok Authtoken
        run: ngrok config add-authtoken $NGROK_AUTH_TOKEN
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Set up SSH and User Password
        run: |
          # Set password untuk user 'runner' yang sudah ada
          echo 'runner:P@ssword!' | sudo chpasswd
          
          # Aktifkan login via password di konfigurasi SSH
          sudo sed -i 's/#PasswordAuthentication yes/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo sed -i 's/PasswordAuthentication no/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo service ssh restart

      - name: Create Ngrok Tunnel for SSH
        run: ngrok tcp 22
